{% extends 'layout.html' %}

{% block body %}
    <h1>About Us</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id tortor id dui elementum luctus quis et lacus. Donec eleifend accumsan augue ut feugiat. Nunc quis consectetur sapien, nec ultrices nulla. Ut pretium vitae dui sed sollicitudin. Suspendisse vestibulum non nunc commodo tincidunt. Phasellus ut tortor blandit sapien ultricies dapibus ac at tortor. Donec viverra dui ac fermentum aliquet. Proin non facilisis augue. Sed et vestibulum dolor. Maecenas sed tortor eu ipsum porta facilisis. In hac habitasse platea dictumst. Donec ut nisi nec nulla venenatis tincidunt vel et orci. Mauris molestie justo metus, in molestie nibh semper et. Vestibulum eget facilisis ipsum.</p>
{% endblock %}